# required for IK controllers
pybullet==2.6.9

# required for GymWrapper
gym

# macOS only
hidapi

# required for demonstration utils
h5py

# required for pygame renderer
pygame

# required for nvisii renderer
open3d
