<div class="col-lg-12 clearfix">
  <div class="col-xs-3 authornames">
    <a href="https://www.linkedin.com/in/abhishek-joshi-4ab469180/" align="middle">
      <img src="assets/images/abhishek_joshi.jpg" class="img-circle img-responsive">
      Abhishek Joshi
    </a>
  </div>
  <div class="col-xs-3 authornames">
    <a href="https://kevin-thankyou-lin.github.io/" align="middle">
      <img src="assets/images/kevin_lin.jpg" class="img-circle img-responsive">
      Kevin Lin
    </a>
  </div>
  <div class="col-xs-3 authornames">
    <a href="https://snasiriany.me/" align="middle">
      <img src="assets/images/soroush_nasiriany.png" class="img-circle img-responsive">
      Soroush Nasiriany
    </a>
  </div>
  <div class="col-xs-3 authornames">
    <a href="https://zhuyifengzju.github.io/" align="middle">
      <img src="assets/images/yifeng_zhu.jpg" class="img-circle img-responsive">
      Yifeng Zhu
    </a>
  </div>
</div>