<div class="col-lg-12 clearfix">
  <div class="col-xs-3 authornames">
    <a href="https://www.cs.utexas.edu/~yukez/" align="middle">
      <img src="assets/images/yuke_zhu.jpg" class="img-circle img-responsive">
      Yuke Zhu
    </a>
  </div>
  <div class="col-xs-3 authornames">
    <a href="https://www.jowo.me" align="middle">
      <img src="assets/images/josiah_wong.jpg" class="img-circle img-responsive">
      Josiah Wong
    </a>
  </div>
  <div class="col-xs-3 authornames">
    <a href="https://ai.stanford.edu/~amandlek/" align="middle">
      <img src="assets/images/ajay_mandlek.png" class="img-circle img-responsive">
      Ajay Mandlekar
    </a>
  </div>
  <div class="col-xs-3 authornames">
    <a href="https://robertomartinmartin.com/" align="middle">
      <img src="assets/images/roberto_martinmartin.jpg" class="img-circle img-responsive">
      Roberto Martín-Martín
    </a>
  </div>
</div>